<div class="wpb_column vc_column_container vc_col-sm-3">
    <div class="wpb_wrapper">
        <div class="wpb_widgetised_column wpb_content_element">
            <div class="wpb_wrapper">
                <aside id="better-menu-widget-6" class="widget better-menu-widget">
                    <div class="menu-office-container">
                        <ul id="menu-office" class="menu">
                            <li {% if page.url == '/features/cloud-pbx/' %} class="fa-tachometer menu-item menu-item-type-post_type menu-item-object-page page_item page-item-75007 menu-item-75018 current_page_item current-menu-item" {% endif %} id="menu-item-75032" class="fa-tachometer menu-item menu-item-type-post_type menu-item-object-page page_item page-item-75032 menu-item-75032">
                                <a href="/features/cloud-pbx/">Cloud PBX</a>
                            </li>
                            <li {% if page.url == '/features/auto-attendant/' %} class="fa-bar-chart menu-item menu-item-type-post_type menu-item-object-page menu-item-75017 current_page_item current-menu-item" {% endif %} id="menu-item-75031" class="fa-bar-chart menu-item menu-item-type-post_type menu-item-object-page menu-item-75031">
                                <a href="/features/auto-attendant/">Auto Attendant</a>
                            </li>
                            <li {% if page.url == '/features/call-recording/' %} class="fa-cube menu-item menu-item-type-post_type menu-item-object-page menu-item-75016 current_page_item current-menu-item" {% endif %} id="menu-item-75030" class="fa-cube menu-item menu-item-type-post_type menu-item-object-page menu-item-75030">
                                <a href="/features/call-recording/">Call Recording</a>
                            </li>
                            <li {% if page.url == '/features/call-queuing/' %} class="fa-cube menu-item menu-item-type-post_type menu-item-object-page menu-item-75016 current_page_item current-menu-item" {% endif %} id="menu-item-75029" class="fa-cube menu-item menu-item-type-post_type menu-item-object-page menu-item-75029">
                                <a href="/features/call-queuing/">Call Queuing</a>
                            </li>
                        </ul>
                    </div>
                </aside>
                {% include sidebar-contact.html %}
            </div>
        </div>
    </div>
</div>
