<div class="wpb_column vc_column_container vc_col-sm-3">
    <div class="wpb_wrapper">
        <div class="wpb_widgetised_column wpb_content_element">
            <div class="wpb_wrapper">
                <aside id="better-menu-widget-6" class="widget better-menu-widget">
                    <div class="menu-office-container">
                        <ul id="menu-office" class="menu">
                            <li {% if page.url == '/by-business-need/business-phone-systems/' %} class="fa-tachometer menu-item menu-item-type-post_type menu-item-object-page page_item page-item-74904 menu-item-74904 current_page_item current-menu-item" {% endif %} id="menu-item-74904" class="fa-tachometer menu-item menu-item-type-post_type menu-item-object-page page_item page-item-74904 menu-item-74904">
                                <a href="/by-business-need/business-phone-systems/">Phone Systems</a>
                            </li>
                            <li {% if page.url == '/by-business-need/cloud-contact-center/' %} class="fa-bar-chart menu-item menu-item-type-post_type menu-item-object-page menu-item-74903 current_page_item current-menu-item" {% endif %} id="menu-item-74903" class="fa-bar-chart menu-item menu-item-type-post_type menu-item-object-page menu-item-74903">
                                <a href="/by-business-need/cloud-contact-center/">Cloud Contact Center</a>
                            </li>
                            <li {% if page.url == '/by-business-need/unified-communications/' %} class="fa-cube menu-item menu-item-type-post_type menu-item-object-page menu-item-74902 current_page_item current-menu-item" {% endif %} id="menu-item-74902" class="fa-cube menu-item menu-item-type-post_type menu-item-object-page menu-item-74902">
                                <a href="/by-business-need/unified-communications/">Unified Comms</a>
                            </li>
                            <li {% if page.url == '/by-business-need/sip-trunking/' %} class="fa-cube menu-item menu-item-type-post_type menu-item-object-page menu-item-74947 current_page_item current-menu-item" {% endif %} id="menu-item-74947" class="fa-cube menu-item menu-item-type-post_type menu-item-object-page menu-item-74947">
                                <a href="/by-business-need/sip-trunking/">SIP Trunking</a>
                            </li>
                            <li {% if page.url == '/by-business-need/voip-conversions/' %} class="fa-cube menu-item menu-item-type-post_type menu-item-object-page menu-item-74899 current_page_item current-menu-item" {% endif %} id="menu-item-74899" class="fa-cube menu-item menu-item-type-post_type menu-item-object-page menu-item-74899">
                                <a href="/by-business-need/voip-conversions/">VoIP Conversions</a>
                            </li>
                            <li {% if page.url == '/by-business-need/efax/' %} class="fa-cube menu-item menu-item-type-post_type menu-item-object-page menu-item-74901 current_page_item current-menu-item" {% endif %} id="menu-item-74901" class="fa-cube menu-item menu-item-type-post_type menu-item-object-page menu-item-74901">
                                <a href="/by-business-need/efax/">eFax</a>
                            </li>
                        </ul>
                    </div>
                </aside>
                {% include sidebar-contact.html %}
            </div>
        </div>
    </div>
</div>
