<div class="wpb_column vc_column_container vc_col-sm-3">
    <div class="wpb_wrapper">
        <div class="wpb_widgetised_column wpb_content_element">
            <div class="wpb_wrapper">
                <aside id="better-menu-widget-6" class="widget better-menu-widget">
                    <div class="menu-office-container">
                        <ul id="menu-office" class="menu">
                            <li {% if page.url == '/by-industry/healthcare/' %} class="fa-tachometer menu-item menu-item-type-post_type menu-item-object-page page_item page-item-75003 menu-item-75003 current_page_item current-menu-item" {% endif %} id="menu-item-75003" class="fa-tachometer menu-item menu-item-type-post_type menu-item-object-page page_item page-item-75003 menu-item-75003">
                                <a href="/by-industry/healthcare/">Healthcare</a>
                            </li>
                            <li {% if page.url == '/by-industry/government/' %} class="fa-bar-chart menu-item menu-item-type-post_type menu-item-object-page menu-item-75002 current_page_item current-menu-item" {% endif %} id="menu-item-75002" class="fa-bar-chart menu-item menu-item-type-post_type menu-item-object-page menu-item-75002">
                                <a href="/by-industry/government/">Government</a>
                            </li>
                            <li {% if page.url == '/by-industry/education/' %} class="fa-cube menu-item menu-item-type-post_type menu-item-object-page menu-item-75001 current_page_item current-menu-item" {% endif %} id="menu-item-75001" class="fa-cube menu-item menu-item-type-post_type menu-item-object-page menu-item-75001">
                                <a href="/by-industry/education/">Education</a>
                            </li>
                            <li {% if page.url == '/by-industry/insurance/' %} class="fa-cube menu-item menu-item-type-post_type menu-item-object-page menu-item-75000 current_page_item current-menu-item" {% endif %} id="menu-item-75000" class="fa-cube menu-item menu-item-type-post_type menu-item-object-page menu-item-75000">
                                <a href="/by-industry/insurance/">Insurance</a>
                            </li>
                            <li {% if page.url == '/by-industry/high-tech/' %} class="fa-cube menu-item menu-item-type-post_type menu-item-object-page menu-item-75016 current_page_item current-menu-item" {% endif %} id="menu-item-75016" class="fa-cube menu-item menu-item-type-post_type menu-item-object-page menu-item-75016">
                                <a href="/by-industry/high-tech/">High Tech</a>
                            </li>
                        </ul>
                    </div>
                </aside>
                {% include sidebar-contact.html %}
            </div>
        </div>
    </div>
</div>
