<aside id="text-6" class="widget widget_text">
    <h3 class="widget-title">Contact</h3>
    <div class="textwidget">
        <div class="office">
            <p>
                <i class="fa fa-map-marker"></i>
                10 Bellegrass Blvd, Hattiesburg, MS.</p>
            <p>
                <i class="fa fa-phone"></i>
                (855) 750 VOIP</p>
            <p>
                <i class="fa fa-envelope"></i>
                info@voxo.co</p>
            <p>
                <i class="fa fa-fax"></i>
                (888) 211 0312</p>
            <p>
                <i class="fa fa-clock-o"></i>
                Mon - Fri: 9:00AM - 5:00PM</p>
        </div>
    </div>
</aside>
